# SPDX-FileCopyrightText: The Storage-Units Authors
# SPDX-License-Identifier: 0BSD

name: REUSE compliance
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  reuse:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v1
