# SPDX-FileCopyrightText: The Storage-Units Authors
# SPDX-License-Identifier: 0BSD

name: Update Parent
on:
  schedule:
    - cron: 0 1 5 * *
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: 17
          java-package: jdk
          architecture: x64
          distribution: temurin
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Update Parent
        run: mvn --batch-mode versions:update-parent --define generateBackupPoms=false
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update parent to latest version
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: Update parent to latest version
          body: |
            `mvn --batch-mode versions:update-parent -DgenerateBackupPoms=false`
          assignees: |
            sebhoss
          draft: false
          branch: update-parent
